header{
    padding: 45px;
    background-image: url(../img/fondoheader.jpg);
    background-size: 100px;
    text-align: left;
    h1{
        font-weight: bolder;
    }
    p{
        font-weight: bold;
    }
}