header{
    background-image: url(../img/fondoheader.jpg);
    background-position: center;
    background-size: cover;
    color:#ffffff;
}
.navbar{
    background-color: rgb(221, 160, 169) !important;
}
.dropdown-menu{
    background-color: rgb(235, 190, 208) !important;
}
.mainindex{
    padding-left: 10px;
    grid-area: mainindex;
    background-color: lightpink;
}
.footer{
    background-color: rgb(221, 160, 169) !important;
}